<ng-template [ngIf]="groupPage != null">

    <div id="top" class="row">
        <div class="col-sm-3">
            <h2>Contact Groups</h2>
        </div>
        <div class="col-sm-6">

            <div class="input-group h2">
                <input name="search_input" class="form-control" id="search_input" type="text" placeholder="Search">
				<span class="btn btn-primary input-group-btn">
					<button class="btn btn-success btn-xs glyphicon glyphicon-search" type="button" (click)="search()"> Search
                    </button>
                 </span>
				<span class="btn btn-primary input-group-btn">				
					<button class="btn btn-success btn-xs glyphicon glyphicon-new-window" type="button" (click)="add()"> New Group
                    </button>                                        
				</span>
            </div>
        </div>
    </div> 

    <hr/>
    <div id="list" class="row">

        <div class="table-responsive col-md-12">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th><app-table-sort [table]="self" [page]="groupPage" [label]="'Group Name'" [property]="'groupName'" ></app-table-sort></th>
                    <th><app-table-sort [table]="self" [page]="groupPage" [label]="'Description'" [property]="'groupDescription'" ></app-table-sort></th>
                    <th class="actions">Actions</th>
                </tr>
                </thead>
                <tbody>

            <tr *ngFor="let group of groupPage.content"> 
                    <td (click)="show(group)">{{group.groupName}}</td>
                    <td (click)="show(group)">{{group.groupDescription}}</td>
                    <td class="actions">
                        <a class="btn btn-success btn-xs" (click)="show(group)">Details</a>
                        <!--a class="btn btn-warning btn-xs" href="edit.html">Edit</a-->
                        <a class="btn btn-danger btn-xs" (click)="currentGroup=group" data-toggle="modal" data-target="#delete-modal">Delete</a>
                    </td>
                </tr>

                </tbody>
            </table>
        </div>

    </div> <!-- /#list -->

    <app-table-pagination [table]="self" [page]="groupPage"></app-table-pagination>

    <!-- Modal -->
    <div class="modal fade" id="delete-modal" tabindex="-1" role="dialog" aria-labelledby="modalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Fechar"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="modalLabel">Delete group</h4>
                </div>
                <div class="modal-body">
                    Do you want to remove this item ?
                </div>
                <div class="modal-footer">
                    <button type="button" (click)="delete(currentGroup)" class="btn btn-primary" data-dismiss="modal">Yes</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal" data-dismiss="modal">No</button>
                </div>
            </div>
        </div>
    </div>

</ng-template>
